
.container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
  }
  
  .item {
    flex: 1; 
    margin: 10px;
    padding: 1px;
    
  }
  
  /* App.css */
  .logo-container {
    display: flex; /* Use flexbox to position the logo and text */
    align-items: center; /* Vertically center the logo and text */
  }
  
  .logo {
    width: 200px; 
    height: auto; 
    margin-right: 10px; 
  }
  
  .logo-text {
    font-size: 18px; 
  }
  h3{
    text-align-last: right ;
  }
  